@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400|Raleway:100,200,300,400');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,400,800');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 18px;
    /* background-color: rgb(87, 77, 104); */
}

h1 {
    color: white;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    line-height: 2em;
    margin-top: 0px;
}

h2 {
    color: white;
    font-size: 3em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin: 0px;
}

h3 {
    color: white;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 5px;
    font-weight: 400;
}

h4 {
    color: white;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
}

p {
    color: white;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
}

span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: white;
    font-size: 1em;
    border: 2px solid white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #0e0d0e;
    background-color: white;
}

iframe {
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

iframe.player {
    width: 100%;
}

input[type=text] {
    display: inline-block;
    min-width: 20%;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    padding: 10px;
    margin: 5px;
}

input[type=submit] {
    display: inline-block;
    max-width: 200px;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

input[type=submit]:hover {
    background-color: white;
    color: black;

}

video {
    /* filter: grayscale(100%); */
    transition: filter 1s;
}

.container {
    display: block;
    position: absolute;
    width: 100vw;
    z-index: 1;
    text-align: center;
}

.scrollBody {
    display: block;
    position: relative;
    max-width: 100%;
    margin: auto;
}

.logo {
    display: block;
    position: fixed;
    left: 60px;
    top: 40px;
    z-index: 1;
    transition: all 1s;
}

.logo img {
    width: 100px;
    margin-left: -40px;
    cursor: pointer;
    transition: all 1s;
}

img.client {
    max-width: 10%;
}

.section {
    display: block;
    position: relative;
    width: 100vw;
    box-sizing: border-box;
    border: solid black;
    border-width: 20px 20px 20px 20px;
    padding-top: 40px;
    overflow: hidden;
}

.section img {
    vertical-align: middle;
}

.blur {
    color: transparent;
    text-shadow: 0 0 1px white;
}

.gallon {
    display: block;
    position: relative;
    height: 100vh;
}

.half-gallon {
    display: block;
    position: relative;
    height: 50vh;
}

.solid {
    background-color: black;
    padding-top: 0px;
}

.gallon .vertical-center {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.half-gallon .vertical-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.pull-bottom {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.brand-brag {
    margin-top: 100px;
}

.material-icons {
    display: inline;
    color: white;
    font-size: 1em;
    vertical-align: bottom;
}

.material-icons.big {
    font-size: 3em;
}

iframe {
    max-width: 80%;
    max-height: 80%;
}

#bgvid {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    overflow: hidden;
    background-color: rgb(17, 17, 17);
}

#bgvid video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 720px){
    
    h2 {
        font-size: 2em;
    }
    
    p {
        font-size: 1em;
    }

    .logo img {
        width: 150px;
        margin-left: -40px;
        cursor: pointer;
        transform: scale(0.5) translateX(-60px) translateY(-60px);
    }

    .half-gallon {
        height: 100vh;
    }

    .half-gallon .vertical-center {
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    img.client {
        max-width: 30%;
    }
}
