@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400|Raleway:100,200,300,400');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 18px;
    /* background-color: rgb(87, 77, 104); */
}

h1 {
    color: white;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    line-height: 2em;
}

h2 {
    color: white;
    font-size: 3em;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin: 0px;
    padding-bottom: 2em;
    padding-top: 0;
}

h3 {
    color: white;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    font-weight: 200;
    padding: 1em;
}

h4 {
    color: white;
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 3px;
}

p {
    color: white;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

span {
    display: inline-block;
}

a {
    color: white;
    font-size: 1em;
    border: 2px solid white;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    color: #0e0d0e;
    background-color: white;
}

iframe {
    width: 100vw;
    height: 100vh;
}

iframe.player {
    width: 100vw;
    height: 100vh;
}

input[type=text] {
    display: inline-block;
    min-width: 20%;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    padding: 10px;
    margin: 5px;
}

input[type=submit] {
    display: inline-block;
    max-width: 200px;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

input[type=submit]:hover {
    background-color: white;
    color: black;

}

.heroimg {
    display: block;
    position: fixed;
    width: 100vw;
    z-index: 0;
    /* background-image: url("../assets/mountain.jpg"); */
}

.heroimg img {
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    display: block;
    position: absolute;
    width: 100vw;
    z-index: 1;
    text-align: center;
}

.scrollBody{
    display: block;
    position: relative;
    max-width: 100%;
    margin: auto;
}

.logo {
    display: block;
    position: fixed;
    left: 60px;
    top: 20px;
    margin-top: 20px;
    margin-right: 20px;
    max-width: 100vw;
    max-height: 200px;
    z-index: 1;
}

.logo img {
    width: 100px;
    margin-left: -40px;
    cursor: pointer;
}

.nav {
    display: block;
    position: fixed;
    right: 80px;
    top: 20px;
    max-width: 100vw;
    max-height: 200px;
    z-index: 1;
    cursor: pointer;
}

.nav i {
    display: block;
    position: absolute;
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 3em;
}

.nav a:hover {
    background-color: transparent;
}

.reel {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
    padding-top: 20px;
    z-index: 100;
}

.reel h2 {
    padding-bottom: 20px;
    font-size: 3em;
    z-index: 100;
}

.links {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.links .subsection {
    padding-left: 0%;
    padding-right: 0%;
}

.clients img {
    display: inline-block;
    width: 100px;
    margin: 25px;
    cursor: pointer;
}

.first-section {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 30vh;
    margin-bottom: -30vh;
    z-index: 0;
}

.first-section i {
    display: block;
    position: absolute;
    bottom: 30vh;
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 3em;
}
.first-section h1 {
    padding-left: 2vh;
    padding-right: 2vh;
}

.section {
    display: block;
    z-index: 100;
}

.subsection {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.color1 {
    /* background-color: #0e0d0e68; */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0) 5%, rgba(0,0,0,0.6) 10%, rgba(0,0,0,0.6) 90%, rgba(0,0,0,0) 95%); */
    background-image: url("../assets/muybridge2.png");
    background-position: center;
}

.color2 {
    background-color: rgb(61, 8, 20);
}

.nocolor {
    background-color: transparent;
}

.quotes {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

.quote {
    display: inline-block;
    text-align: center;
    position: relative;
    max-width: 100%;
    margin: 0px 20px 0px 20px;
}

.quote p {
}

.signature h3{
    line-height: 3em;
    margin-bottom: 0px;
}

#bgvid {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    overflow: hidden;
    background-color: rgb(17, 17, 17);
}

#bgvid video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
