@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400|Raleway:100,200,300,400');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,400,800');



@keyframes bounce {
    from {transform: translateY(0px);}
    to {transform: translateY(-10px);}
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
    width: 100vw;
    /* background-color: rgb(87, 77, 104); */
}

h1 {
    color: white;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    line-height: 2em;
    margin-top: 0px;
}

h2 {
    color: white;
    font-size: 3em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin: 0px;
}

h3 {
    color: white;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 5px;
    font-weight: 400;
}

h3#signature {
    line-height: 2em;
}

h4 {
    color: white;
    font-size: 0.5em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

p {
    color: white;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
}

ul {
    color: white;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
}

span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: white;
    font-size: 1em;
    border: 2px solid white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #0e0d0e;
    background-color: white;
}

input[type=text] {
    display: inline-block;
    min-width: 20%;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    padding: 10px;
    margin: 5px;
}

input[type=submit] {
    display: inline-block;
    max-width: 200px;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

input[type=submit]:hover {
    background-color: white;
    color: black;

}

.section img {
    vertical-align: middle;
    max-width: 100%;
    border: 5px solid white;
}

.container {
    display: block;
    position: absolute;
    width: 100vw;
    z-index: 1;
    text-align: center;
}

.scrollBody {
    display: block;
    position: relative;
    max-width: 100%;
    margin: auto;
}

.nav {
    display: block;
    position: fixed;
    left: 60px;
    top: 40px;
    z-index: 1;
    transition: all 0.1s;
}

.nav img {
    width: 100px;
    margin-left: -40px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.1s;
    filter: opacity(100%);
}

.nav img:hover {
    filter: opacity(50%);
}

.nav a {
    padding: 0px;
    border: 0px;
    width: 100%;
    color: inherit; 
}

.nav a:hover {
    color: inherit;
}

.nav h4 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: white;
    background-color: black;
    transition: all 0.1s;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.nav h4:hover {
    color: white;
    background-color: transparent;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-sizing: border-box;
}

img.client {
    max-width: 10%;
}

.subnav {
    margin-left: -20px;
    /* height: 0px; */
    width: 100px;
    background-color: transparent;
    overflow: hidden;
    transition: all 0.1s;
    opacity: 0;
    transform: translate(-200px, 0px);
    padding-left: 50px;
    margin-left: -90px;
}

.subnav:hover {
    /* background-color: white; */
}

.subnav-open {
    /* height: auto; */
    opacity: 1;
    transform: translate(0px, 0px);
    /* transform: scaleY(1); */
}

.section {
    display: block;
    position: relative;
    width: 100vw;
    box-sizing: border-box;
    border: solid black;
    border-width: 20px 20px 20px 20px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
}

.hero {
    border: none;
    border-width: 0px;
}

.blur {
    color: transparent;
    text-shadow: 0 0 1px white;
}

.gallon {
    display: block;
    position: relative;
    min-height: 100vh;
}

.half-gallon {
    display: block;
    position: relative;
    min-height: 50vh;
}

.solid {
    background-color: black;
    padding-top: 0px;
}

.gallon .vertical-center {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.half-gallon .vertical-center {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

.pull-bottom {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.bouncing {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.brand-brag {
    margin-top: 100px;
}

.twoColumn {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    max-width: 900px;
}

.leftSide {
    text-align: left;
    display: inline-block;
    position: relative;
    max-width: 45%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}
.rightSide {
    text-align: left;
    display: inline-block;
    position: relative;
    max-width: 45%;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: bottom;
}

.rightSide.imageAlign {
    vertical-align: top; 
    margin-top: 48px;
}

.material-icons {
    display: inline;
    color: white;
    font-size: 1em;
    vertical-align: bottom;
}

.material-icons.big {
    font-size: 3em;
}

iframe {
    width: 70vw;
    height: 70vh;
    margin-top: 40px;
}

iframe.player {
    width: 70vw;
}

#bgvid {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    overflow: hidden;
    background-color: rgb(17, 17, 17);
}

#bgvid video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 720px){
    
    h2 {
        font-size: 2em;
    }
    
    p {
        font-size: 1em;
    }
    ul {
        font-size: 1em;
    }

    .nav {
        left: 40px;
        top: 20px;
    }

    .subnav {
        margin-left: -90px;
        margin-top: -60px;
    }

    .nav img {
        width: 150px;
        /* margin-left: -40px; */
        cursor: pointer;
        transform: scale(0.5) translateX(-60px) translateY(-60px);
    }

    .section {
        padding-left: 5px;
        padding-right: 5px;
    }

    .half-gallon {
        min-height: 100vh;
    }

    .half-gallon .vertical-center {
        display: block;
        position: relative;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }

    img.client {
        max-width: 30%;
    }
}

@media only screen and (max-width: 900px){

    .twoColumn {
        margin-top: 40px;
        padding-right: 10px;
    }
    .leftSide{
        max-width: 100%;
    }
    .rightSide {
        max-width: 100%;
    }
    .rightSide.imageAlign {
        vertical-align: top; 
        margin-top: 18px;
    }
}
